img {
    height: 100px;
}
body {
    background-color:#cce6ff;
}
h1 {
    color:#000066;
}
h2 {
    color:#000066;
}
  h1{
      font-family: 'Bebas Neue', cursive;
}
ul { 
    font-family: 'Architects Daughter', cursive;
}
